<phpunit>
	<testsuites>
		<testsuite name="Sprots">
			<!--<file>FavoritePlayerTest.php</file>-->
			<!--<file>FavoriteTeamTest.php</file>-->
			<!--<file>GameTest.php</file>-->
			<!--<file>PlayerTest.php</file>-->
			<!--<file>foo.php</file> -->
			<!--<file>ProfileTest.php</file>-->
			<!--<file>SportTest.php</file>-->
			<file>StatisticTest.php</file>
			<!--<file>TeamTest.php</file>-->
			<!--<file>TeamStatisticTest.php</file>-->
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../php/classes</directory>
		</whitelist>
	</filter>
</phpunit>
